<section class="about vh-100 d-grid  align-content-center bg-danger container-fluid p-5">
<h2 class="fs-1 text-white text-center">ABOUT COMPONENT</h2>
<div class="row">
    <div class="col-md-5">
        <div>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore amet placeat rem quas id fugiat, quis tempore earum nisi sed?</p>
        </div>
    </div>

    <div class="col-md-5">
        <div>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore amet placeat rem quas id fugiat, quis tempore earum nisi sed?</p>
        </div>
    </div>
</div>

</section>
