<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container">
      <a class="navbar-brand text-white fs-1" >start framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="about" routerLinkActive="bg-danger">about</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="portfolio" routerLinkActive="bg-danger">portfolio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="contact" routerLinkActive="bg-danger">contact</a>
          </li>
        
        </ul>   
      </div>
    </div>
  </nav>


<!-- 
  <li class="nav-item">
    <a class="nav-link" routerLink="about" routerLinkActive="bg-danger">about</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="portfolio" routerLinkActive="bg-danger">portfolio</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="contact" routerLinkActive="bg-danger">contact</a>
  </li> -->