<section class="portfolio container" >
    <h2 class=" text-center fs-1">PORTFOLIO COMPONENT</h2>
    <div class="row g-1">
       

        <div class="col-md-4">
            <div>
                <img src="./assets/images/poert1.png"class="w-100">
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="./assets/images/port2.png"class="w-100">
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="./assets/images/port3.png" class="w-100">
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="./assets/images/poert1.png" class="w-100">
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="./assets/images/port2.png" class="w-100">
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="./assets/images/port2.png" class="w-100">
            </div>
        </div>

    </div>
</section>
